name: Release

on:
  push:
    branches:
      - master
    paths-ignore:
      - .github/**
      - examples/**
      - "**/README.md"
  pull_request:
    branches:
      - master
    paths-ignore:
      - .github/**
      - examples/**
      - "**/README.md"     

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Check out
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Determine version
        id: version
        uses: silphid/actions/get-version@master

      - name: Setup go environment
        uses: actions/setup-go@v4.1.0
        with:
          go-version-file: go.mod
          cache: true
          cache-dependency-path: go.sum

      - name: Run tests
        run: go test -v ./...

      - name: Tag commit
        if: github.ref == 'refs/heads/master'
        uses: silphid/actions/tag-commit@v1
        with:
          tag: ${{ steps.version.outputs.git-tag }}

      - name: Release dry-run
        if: github.ref != 'refs/heads/master'
        uses: goreleaser/goreleaser-action@v4
        with:
          args: build --skip-validate

      - name: Release
        if: github.ref == 'refs/heads/master'
        uses: goreleaser/goreleaser-action@v4
        with:
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GH_HOMEBREW_PUBLIC_TOKEN }}
